/**scss 循环模块, 函数**/
@each $type in $input-type {
    input[type="#{$type}"]{
        -webkit-appearance: none;
    }
}

@for $i from 1 through 20 {
    .w#{($i - 1)*20+$width-min-size}{
        width:#{($i - 1)*20+$width-min-size}px ;
    }
    .mgl#{($i - 1)*5+$mg-min-size}{
        margin-left:#{($i - 1)*5+$mg-min-size}px;
    }
    .mgr#{($i - 1)*5+$mg-min-size}{
        margin-right:#{($i - 1)*5+$mg-min-size}px;
    }
    .mgb#{($i - 1)*5+$mg-min-size} {
        margin-bottom:#{($i - 1)*5+$mg-min-size}px;
    }
    .mgt#{($i - 1)*5+$mg-min-size} {
        margin-top:#{($i - 1)*5+$mg-min-size}px;
    }
}

$btnColorClass: (failure #ff5252 #fff) (abnormal #ff8800 #fff) (change #ffcc00 #fff) (pause #ffcc00 #fff) (cancel #a9a9a9 #fff) !default;

@each $colorClass in $btnColorClass {
    $class: nth($colorClass, 1);
    $bgColor: nth($colorClass, 2);
    $textColor: nth($colorClass, 3);
}


