/**scss 变量**/
$width-min-size:100; //最小宽度
$mg-min-size:5; //最小margin
$input-type:button submit search reset;  //type 类型
$menuWidth: 214px; //菜单栏宽度
$menuHeight: 70px;  //菜单栏高度
$menu-min-Width:60px;  //菜单缩小时的宽度
$padding:12px;
$info:(success:#3aa13e , info:#4196EB ,waring:#ff8800 , gray:#8492A6 );//颜色信息